<h1>howdy</h1>

<form action='/square/results'>
  <label for="test">Enter a number</label>
  <input id="test" type="text" placeholder="What number do you want to see" name="square_this_num">

  <button>Calculate square</button>
</form>